{% load static %}

<header id="header">
    <nav>
        <img src="{% static 'images/favicon.ico' %}" alt="Logo" class="site-logo">
        <a href="{% url 'index' %}" class="{% if 'index' in request.resolver_match.url_name %}active{% endif %}">Početna</a>
        <a href="{% url 'article_list' %}" class="{% if 'article_list' in request.resolver_match.url_name %}active{% endif %}">Svi članci</a>
        <a href="{% url 'podaci' %}" class="{% if 'podaci' in request.resolver_match.url_name %}active{% endif %}">Podaci</a>

        <div class="theme-toggle">
            <input type="checkbox" id="theme-switch" />
            <label for="theme-switch" class="toggle-label"></label>
        </div>
    </nav>
</header>

<script src="{% static 'trends/js/script.js' %}"></script>